<div class="col-12">
  <h4 class="text-primary">
    Lista de planilla registros de firmas para credenciales ministeriales
  </h4>
</div>
<div class="col-12 my-3">
  <button class="btn btn-success" (click)="printCredentials()">
    Vista Previa Impresion
  </button>
</div>
<div class="col-12">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Activo</th>
        <th>CI</th>
        <th>Nombre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let credential of credentials | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <input
            class="form-check-input"
            type="checkbox"
            (change)="activeToPreview($event, credential)"
          />
        </td>
        <td>{{ credential.ci }}</td>
        <td>{{ credential.name }}</td>
        <td>
          <button
            class="btn btn-xs btn-danger"
            (click)="deleteCredential(credential)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
