<div class="col-12">
  <h4 class="text-primary">Formulario Registro/Edición Credencial</h4>
</div>
<div class="col-6">
  <form [formGroup]="credentialForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">CI</label>
      <input
        type="text"
        class="form-control"
        placeholder="Ingrese un carnet de identidad"
        formControlName="ci"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        placeholder="Ingrese un nombre completo"
        formControlName="name"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!credentialForm.valid"
    >
      Guardar
    </button>
  </form>
</div>
