<div *ngIf="!previewMode" class="container mt-5">
  <h2 class="text-center">Generador de Credenciales PDF</h2>
  <div class="row my-5">
    <app-credential-form></app-credential-form>
  </div>

  <div class="row my-5">
    <app-credential-table
      (onPrintCredentials)="showPreviewMode($event)"
      (onSelectCredential)="addToPreviewMode($event)"
      (onUnselectCredential)="removeFromPreviewMode($event)"
    ></app-credential-table>
  </div>
</div>

<div *ngIf="previewMode" class="container mt-5">
  <h3 class="text-center">Vista Previa - Visualizacion de Credenciales</h3>
  <div class="row">
    <app-credentials-preview
      [credentials]="credentialsToPreview"
      (onGotoList)="closePreviewMode()"
    ></app-credentials-preview>
  </div>
</div>
