.credential-container {
  padding: 5px;
}

.credential-item {
  height: 305px;

  padding: 5px;

  & > .credential-item_sign {
    height: 75%;
    border: 2px solid #000;
    border-radius: 35px;
  }

  & > .credential-item_data {
    height: 25%;
    border: 2px solid #000;
    border-radius: 15px;

    padding-top: 7px;
    padding-left: 20px;

    & > p {
      margin-bottom: 0.2rem;
    }

    & > p.with-padding {
      padding-left: 3rem;
    }
  }
}
