<div class="col-12 mb-3">
  <button class="btn btn-primary" (click)="goToList()">Volver a Lista</button>
  <button class="btn btn-success" (click)="printCredentials()">
    Imprimir Credenciales
  </button>
</div>

<div class="col-12">
  <div id="credential-preview" class="p-2">
    <div class="row">
      <div class="col-12">
        <h5 class="text-center">
          PLANILLA DE REGISTRO DE FIRMAS PARA CREDENCIALES MINISTERIAL
        </h5>
      </div>
      <div
        *ngFor="let credential of credentials"
        class="col-4 credential-container"
      >
        <div class="credential-item">
          <div class="credential-item_sign"></div>
          <div class="credential-item_data">
            <p><strong>NOMBRE:</strong> {{ credential.name | uppercase }}</p>
            <p class="with-padding"><strong>CI:</strong> {{ credential.ci }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
